.navbar-nav{
    padding-left: 600px;
    font-size: 20px;
}
.first-portion{
    padding-top: 90px;
    padding-left: 100px;
}
.buy-now{
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}
.first-portion p{
    font-size: 15px;
}
.first-container{
    background-image: url(images/header-bg.png);
}
.see-all{
    color: orange;
    padding-left: 750px;
    font-size: 15px;
}
.second-portion{
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 150px;
}
.card-title{
    text-align: center;
    font-size: 15px;
}
.card-text{
    font-size: 15px;
}
.card-img-top{
    height: 150px;
    width: 220px;
    padding-left: 40px;
    margin-top: 50px;
}
.card-footer{
    background-color: white;
    border: none;
    text-align: center;
}
.card h4{
    text-align: center;
}
.card{
    border: none;
    box-shadow: 2px 2px 20px lightgray;
}
.single-images{
    margin-left: 50px;
    box-shadow: 0px 10px 30px 0px rgba(214, 31, 138, 0.1);
    padding: 30px 30px;
    padding-top: 50px;
    padding-left: 50px;
    border-radius: 3px 15px;
    margin-bottom: 20px;
}
